body {
    background-color: #DDD;
}

#wrapper {
    width: 900px;
    margin-left:auto;
    margin-right:auto;
}

#categories {
    width: 200px;
    float: left;
}

#jokes {
     width: 700px;
     float: left;
}

.header {
    text-align: center;
}

.add-button {
    background-color: #DDD;
    border: 1px solid #00AA00;
    border-radius: 5px;
    width: 150px;
    padding: 3px;
    text-align: center;
}

.add-button:hover {
    transition-duration: 0.4s;
    background-color: #00AA00;
    color: white;
}

.inner-link {
    color: black;
    text-decoration: none;
}

.category {
    width: 180px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    padding: 3px;
    margin-top: 5px;
    background-color: #CCC;
}

.category:hover {
    background-color: #BBB;
    cursor: pointer;
}

.joke {
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 30px;
}

.content {
    padding-left: 10px;
}

.title {
    border-radius: 10px;
    text-align: center;
    background-color: #BBB;
    border-bottom: 1px dashed #555;
    margin: 0;
    padding: 10px;
}